<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>CRUD MongoDB</title>
    <style>
        .container{
            max-width: 960px;
        }
    </style>
  </head>
  <body> 
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>   
    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h4>Datos del Mentorizado</h4>
            <form action="/crear" method="POST">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input id="apellido" name="apellido" type="text" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="dni" class="form-label">DNI</label>
                  <input id="dni" name="dni" type="text" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="codigo" class="form-label">Codigo</label>
                  <input id="codigo" name="codigo" type="text" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input id="email" name="email" type="text" class="form-control" required>
                </div>
         </div> 
                <button type="submit" class="w-100 btn btn-guardar btn-lg"><i class="bi bi-save"></i>Registrar Carga</button>
            </form>

            <!-- Tabla Alumnos  -->
            <table id="tablaMentorizados" class="table mt-4">
              <thead>
                  <tr>
                      <th style="display: none;">ID</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Dni</th>
                      <th>Codigo</th>
                      <th>Email</th>
                  </tr>
              </thead>
              <tbody>
                  <% mentorizados.forEach( (mentorizado) => { %>
                      <tr>
                          <td style="display: none;"><%= mentorizado._id %></td>
                          <td><%= mentorizado.nombre %></td>
                          <td><%= mentorizado.apellido %></td>
                          <td><%= mentorizado.dni %></td>
                          <td><%= mentorizado.codigo %></td>
                          <td><%= mentorizado.email %></td>
                          <td>
                              <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
                              <a href="/borrar/<%= mentorizado._id %>" class="btn btn-outline-danger bi bi-trash"></a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
          </table>
            
    </div>
    <!-- Modal para Editar   -->
    <div id="modalMentorizado" class="modal fade" tabindex="-1" aria-labelledby="modalMentorizado" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/editar" method="POST">
                <input name="id_editar" id="id_editar" type="text" hidden>
              <div class="mb-3">
                <label for="nombre_editar" class="col-form-label">Nombre:</label>
                <input id="nombre_editar" name="nombre_editar" type="text" class="form-control" value="">
              </div>

              <div class="mb-3">
                <label for="apellido_editar" class="col-form-label">Apellido:</label>
                <input id="apellido_editar" name="apellido_editar" type="text" class="form-control" value="">
              </div>

              <div class="mb-3">
                <label for="dni_editar" class="col-form-label">Dni:</label>
                <input id="dni_editar" name="dni_editar" type="text" class="form-control" value="">
              </div>

              <div class="mb-3">
                <label for="codigo_editar" class="col-form-label">Codigo:</label>
                <input id="codigo_editar" name="codigo_editar" type="text" class="form-control" value="">
              </div>

              <div class="mb-3">
                <label for="email_editar" class="col-form-label">Email:</label>
                <input id="email_editar" name="email_editar" type="text" class="form-control" value="">
              </div>

          </div>
          <div class="modal-footer">              
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
        </div>
      </div>
  </div>
   </section>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/codeMentorizado.js"></script>
  </body>
</html>